<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125322571852-uph8g7a9luth7m2ml3v5u5gjqkqs124f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125322571852-uph8g7a9luth7m2ml3v5u5gjqkqs124f</string>
	<key>API_KEY</key>
	<string>AIzaSyDXHRC2es3DILkuAYcHDQcam47zvcUBe30</string>
	<key>GCM_SENDER_ID</key>
	<string>125322571852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nbpl.vizman</string>
	<key>PROJECT_ID</key>
	<string>vizman-e18a8</string>
	<key>STORAGE_BUCKET</key>
	<string>vizman-e18a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125322571852:ios:6dd52f48800438ea4184e9</string>
	<key>DATABASE_URL</key>
	<string>https://vizman-e18a8.firebaseio.com</string>
</dict>
</plist>